body {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
.l-layout {
    margin: 0 auto;
    width: 1000px;
}

.c-header {
    height: 96px;
}

.c-inner {
    margin-top: 19px;
    display: flex;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 16px;
}

.c-header__logo {
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.c-header__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.c-header__nav--home {
    font-weight: bold;
}

.c-header__nav a {
    color: #000000;
    padding-left: 32px;
    font-size: 14px;
}

.c-header__nav ul {
    list-style: none;
}

.c-header__nav ul li {
    display: inline-block;
}

.c-header__nav ul li a {
    margin-left: 30px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.c-header__home {
    margin-top: 26px;
    display: flex;
    width: 1000px;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.c-header__homeicon {
    width: 25px;
    height: 20px;
    display: flex;
}

.c-breadcrumb {
    display: flex;
}

.c-breadcrumb__content {
    display: flex;
    align-items: center;
}

.c-breadcrumb ul {
    list-style: none;
}

.c-breadcrumb ul li {
    display: inline;
    font-size: 14px;
}

.c-breadcrumb ul li+li::before {
    content: "\203A";
    padding-left: 8px;
    padding-right: 8px;
}

.c-breadcrumb ul li a {
    color: #000;
    font-weight: 600;
}

.c-footer__breadcrumb {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-top: 7px;
    padding-bottom: 7px;
}

.p-banner {
    margin-top: 39px;
}

.p-banner__inner {
    position: relative;
    margin-top: 29px;
}

.p-banner__content {
    position: absolute;
    left: 40px;
    width: 400px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    bottom: 84px;
}

.p-banner__content a {
    background-color: #ffdfdf;
    width: 128px;
    height: 37px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    color: #000;
    font-weight: bold;
}

.p-banner__content p {
    margin-top: 12px;
}

.p-feature {
    background-color: #fafafa;
    width: 1200px;
    margin: 0 auto;
    margin-top: 59px;
    height: 977px;
}

.p-new__inner {
    position: relative;
    margin-top: 40px;
}

.p-feature__inner {
    position: relative;
    padding-top: 1px;
}

.c-title {
    height: 50px;
    display: flex;
    align-items: center;
}

.c-title h2 span {
    font-size: 24px;
    margin-left: 19px;
}

.c-title__color1 {
    border: #ffd800 solid 2px;
    border-left: #ffd800 solid 7px;
    background-color: #fff9da;
}

.c-title--colorl1 {
    border-left: #11638a solid 7px;
    background-color: #bcd5e1;
    margin-top: 50px;
}

.c-title-colorl2 {
    border-left: #f5989d solid 7px;
    background-color: #ffe8e9;
    margin-top: 70px;
}

.p-new__list {
    display: flex;
    margin-top: 29px;
}

.p-feature__list {
    display: flex;
    height: 300px;
    margin-bottom: 50px;
}

.p-new__item {
    display: flex;
    position: relative;
    margin-bottom: -2px;
}

.p-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p-new__item-image {
    position: relative;
}

.p-feature__itemImage {
    margin-top: 30px;
}

.p-new__item--content {
    margin-left: 40px;
}

.p-new__item--content h3 {
    padding-bottom: 15px;
    font-size: 16px;
}
.p-new__item--content p {
    font-size: 14px;
    line-height: 20px;
}

.p-feature__itemContent {
    margin-top: 10px;
    width: 300px;
}

.p-feature__itemContent h3 {
    background-color: #a3d39c;
    width: 100px;
    margin-top: 12px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-feature__itemContent p {
    margin-top: 19px;
    font-size: 14px;
    line-height: 20px;
}

.p-feature_item-color3 h3 {
    width: 70px;
    background-color: #ffdfdf;
}

.p-feature_item-color5 h3 {
    width: 130px;
    background-color: #fff799;
}

.c-namecategory {
    position: absolute;
    width: 112px;
    height: 32px;
    left: 0;
    top: 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.color1 {
    background-color: #a3d39c;
}

.color2 {
    background-color: #fff799;
}

.color3 {
    background-color: #ffdfdf;
}

.color4 {
    background-color: #a3d39c;
}

.btn {
    bottom: 0;
    position: absolute;
    right: 0;
    background-color: #afafaf;
    width: 150px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 7px;
    margin-bottom: 3px;
}

.c-btnVM {
    margin: 0 auto;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: #000 solid 2px;
}

.c-btnVM a {
    color: #fff;
    font-size: 18px;
    line-height: 20px;
}

.c-btnVM__news {
    background-color: #ffd800;
    width: 300px;
    margin-top: 61px;
}

.c-btnVM__feature {
    background-color: #f68e56;
    width: 300px;
    float: right;
    margin-top: 42px;
}

.c-btnVM__blog {
    background-color: #6dcff6;
    margin-top: 30px;
}

.c-title__color2 {
    border: #f68e56 solid 2px;
    border-left: #f68e56 solid 7px;
    background-color: #fff2f2;
    margin-top: 60px;
}

.p-feature__button a {
    color: #fff;
}

.p-blog {
    margin-top: 60px;
    margin-bottom: 115px;
}

.c-title__blogcolor {
    border: #6dcff6 solid 2px;
    border-left: #6dcff6 solid 7px;
    background-color: #ebebeb;
}

.p-blog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.p-blog__item {
    margin-bottom: 11px;
    height: 320px;
}

.p-blog__itemImage {
    margin-top: 30px;
}

.p-blog__itemContent {
    width: 475px;
    margin-top: 13px;
}

.p-blog__itemContent h3 {
    width: 100px;
    height: 30px;
    background-color: #a3d39c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-blog__itemContent p {
    margin-top: 18px;
    font-size: 14px;
    line-height: 20px;
}

.p-blog__itemContent--2 h3 {
    width: 70px;
    background-color: #ffdfdf;
}

.p-blog__button {
    width: 100%;
    background-color: #6dcff6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #000 solid 2px;
    border-radius: 7px;
    height: 66px;
    margin-top: 30px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.p-blog__button a {
    color: #fff;
}


/* footer */

.c-footer {
    width: 1200px;
    margin: 0 auto;
}

.c-footer__inner {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 7px;
    padding-top: 8px;
    border-top: 1px solid #cccccc;
    padding-left: 95px;
}

.c-footer__home {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.c-footer__link {
    background-color: #fafafa;
    height: 200px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cccccc;
}

.c-footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    font-size: 12px;
}

.c-footer__list {
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.c-content {
    display: flex;
    justify-content: space-between;
    height: 127px;
}

.c-footer__nav ul li a {
    color: #000;
    font-size: 14px;
}

.c-footer__nav-color1 ul {
    list-style: disc;
    padding-left: 15px;
    padding-top: 4px;
    font-size: 14px;
    line-height: 20px;
}

.c-footer__nav-color2 ul {
    list-style-type: disclosure-closed;
    padding-left: 15px;
    padding-top: 6px;
    font-size: 14px;
    line-height: 20px;
}

.c-footer__nav-color3 ul {
    list-style-image: url("../img/link-16.png");
    padding-left: 22px;
    padding-top: 9px;
}

.c-itemlink {
    width: 334px;
    margin-right: 15px;
}

.c-itemlink h3 {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #cccccc;
    width: 300px;
    padding-bottom: 10px;
}


/* link1 */

.p-menu {
    display: flex;
}

.p-menu__list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.p-menu__item {
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00aeef;
    border-radius: 7px;
}

.p-menu__item a {
    color: white;
}

.p-menu__item img {
    width: 25px;
    height: 25px;
}

.p-link1 {
    margin-top: 65px;
}

.p-link1__title {
    border-bottom: 1px solid #cccccc;
    height: 35px;
    font-size: 18px;
    padding-top: 2px;
}

.p-link1__title h3 {
    color: #222222;
}

.p-link1__titiletop {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
}

.p-link1__titiletop p {
    color: #222222;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.p-link1__titiletop a {
    color: #1f53fa;
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
}

.p-link1__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 45px;
}

.p-link1__itemText {
    width: 300px;
    margin-bottom: 30px;
}

.p-link1__title h4 {
    margin-top: 40px;
}

.p-link1__itemText img {
    margin-top: 17px;
}

.p-link1__itemText h3 {
    margin-top: 12px;
    width: 100px;
    background-color: #a3d39c;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-link1__itemText p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
}

.p-link2 {
    margin-top: 23px;
}

.p-link2__title {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    color: #222222;
}

.link2__colortitle1 {
    color: #11638a;
}

.link2__colortitle2 {
    color: #f5989d;
}

.p-link2__item {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.p-link2__itemText {
    width: 237px;
    margin-top: 10px;
}

.p-link2__color1 h3 {
    background-color: #fff799;
}

.p-link2__color2 h3 {
    background-color: #ffdfdf;
}

.p-link2__color3 h3 {
    background-color: #a3d39c;
}

.p-link2__itemText h3 {
    width: 130px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-size: 14px;
}

.p-link2_item2 h3 {
    width: 70px;
}

.p-link2_item3 h3 {
    width: 100px;
}

.p-link1_item3 h3 {
    width: 130px;
}

.p-link2__itemText p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
    margin-bottom: 3px;
}

.p-link3 {
    margin-top: 50px;
}

.p-link3__title {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
    color: #222222;
    padding-top: 3px;
}

.p-link3__title h3 {
    font-size: 18px;
}

.c-caption1__a {
    text-decoration-line: underline;
    color: #ff0000;
}

.c-caption2__a {
    text-decoration: underline;
    color: #ff9c00;
}

table,
th,
td {
    border: 1px solid #cccccc;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 16px;
}

table {
    width: 49%;
    text-align: center;
}

th,
td {
    padding: 9.5px;
}

th {
    background-color: #acd373;
    color: white;
}

.p-link3__caption h3 {
    background-color: #ece6e6;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding-left: 14px;
    margin-bottom: 25px;
}

.c-table__link3 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.table2 {
    margin-top: 13px;
}

.c-caption2 {
    margin-top: 1px;
    margin-bottom: 110px;
}

.c-link2__content3 p.textquotes{
    quotes: '\201C \201D';
}

.p-title__top {
    margin-top: 40px;
    height: 80px;
    background-color: #6dcff6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
    font-size: 32px;
    color: #000000;
    line-height: 20px;
    font-weight: bold;
}

.c-link2__content {
    margin-top: 23px;
}

.c-link2__content p {
    font-size: 15px;
    line-height: 20px;
}

.c-link2__content2 {
    margin-top: 35px;

}

.c-link2__content2 p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.c-link2__content3 {
    margin-top: 15px;
    border: 1px solid #11638a;    
    border-radius: 6px;
    padding: 19px;
}

.c-link2__content3 p {
    color: #11638a;
    font-size: 15px;
    line-height: 20px;
}

.c-content-title2 {
    margin-top: 32px;
}

.c-content-title2 p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 20px;
}

.c-content__title3 {
    margin-top: 30px;
}

.c-content__title3 h4 {
    font-size: 16px;
    line-height: 20px;
}

.c-content__title4 {
    margin-top: 28px;
}

.c-content__title4 h4{
    line-height: 20px;
    font-size: 16px;
}

.c-content__title3 p {
    margin-top: 5px;
    line-height: 20px;
    font-size: 15px;
}

.c-content__title4 p {
    margin-top: 4px;
    font-size: 15px;
    line-height: 20px;
}

.c-content__counter {
    counter-reset: section;
    margin-top: 25px;
}

.c-content__counter h1 {
    font-weight: 500;
    counter-reset: subsection;
    line-height: 30px;
    font-size: 15px;
}

.c-content__counter h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}

.c-content__counter h1::before {
    counter-increment: section;
    content: counter(section) ". ";
    color: #f5989d;
}

.c-content__counter h2::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
    padding-left: 35px;
    color: #f5989d;
}

.c-content__title5 {
    margin-top: 15px;
    border: 1px solid #f5989d;
    padding: 20px;
    font-size: 15px;
    color: #ffa0a5;
    line-height: 19px;
    border-radius: 5px;
}

.c-contentfinal {
    margin-top: 35px;
    line-height: 20px;
}

.c-contentfinal p {
    font-size: 15px;
}

.c-contentTable {
    margin-top: 11px;
    margin-bottom: 122px;
}

.c-table__link2 {
    width: 100%;
}

.content {
    display: flex;
    align-items: center;
}

.content img {
    width: 20px;
    height: 17px;
}

.content h4 {
    color: #f5989d;
    padding-left: 3px;
}

.content1 h4 {
    color: #11638a;
    padding-left: 3px;
}

.content1 {
    display: flex;
    margin-top: 50px;
}

.content1 img {
    width: 20px;
    height: 17px;
}

.content1 img {
    width: 20px;
    height: 17px;
}